.auth {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    min-width: 50rem;
    label {
      color: white;
      font-size: 1.5rem;
    }

    input[type="submit"] {
      color: white;
      outline: none;
      border: none;
      width: 10rem;
    }
  }

  .error {
    padding: 1rem;
  }
}
