.dashboard {
  margin-top: 8rem;
  color: white;
  overflow: auto;
  &__add {
    padding: 1rem;
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 12rem;
    .pointer {
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .add-project {
      cursor: pointer;
      height: 2rexm;
      width: 2px;
      background-color: #fff;

      &::after {
        content: "";
        height: 2rem;
        width: 2px;
        display: block;
        background-color: #fff;
        transform: rotate(90deg);
      }
    }

    strong {
      text-align: center;
      font-size: 2rem;
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__projects {
    padding: 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .project {
      border: 1px solid white;
      background-color: $secondary-color;
      color: white;
      min-height: 30rem;
      transition: all 0.34s;

      &:hover {
        transform: translateY(-0.7rem);
        box-shadow: 1px 2px 0.4rem black;
      }
    }
  }
}

.dashboard-modal {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      font-size: 2.4rem;
    }
    color: white;
    padding: 1.4rem;
    background-color: $primary-color;

    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }

  &__content {
    padding: 4rem;
    background-color: $secondary-color;
    background-color: white;
    flex: 1;
    display: flex;
    .form {
      flex: 1;
      font-size: 1.5rem;
      input[type="text"] {
        font-size: 1.5rem;
        color: black;
        border-bottom: 1px solid $primary-color;
      }

      input[type="submit"] {
        color: white; 
      }
    }
  }
}

@media only screen and(max-width: 1000px) {
  .dashboard__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and(max-width: 700px) {
  .dashboard {
    flex-direction: column;
    margin-top: 11rem;

    &__add {
      margin-bottom: 2rem;
    }
  }
}


@media only screen and(max-width: 600px) {
  .dashboard__projects {
    grid-template-columns: 1fr;
  }
}

@media only screen and(min-width: 500px) {
  .dashboard-modal {
    min-width: 50rem;
  }
}