.projects {
  margin-top: 8rem;
  color: white;
  &__lists {
    padding: 0 2rem;
    flex: 1;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    align-items: start;
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 2rem;
        text-align: center;
      }
      ul {
        overflow: auto;
        background-color: white;
        // Remember this
        min-height: 50rem;
        max-height: 50rem;
        width: 100%;
        flex: 1;

        li {
          border: 1px solid white;
          padding: 1rem;
          background-color: darkslategrey;
        }
      }
    }
  }
}

@media only screen and(max-width: 700px) {
  .projects {
    flex-direction: column;
    margin-top: 11rem;
  }
}
