.projects {
  margin-top: 6rem;
  color: white;
  overflow-x: auto;

  &__lists {
    padding: 0.4rem 2rem;
    flex: 1;
    display: grid;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
    &-list {
      padding: 1rem;
      border-radius: 1rem;
      background-color: $list-color;
      min-width: 30rem;
      max-height: 60rem;
      overflow: auto;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      color: black;

      h3 {
        font-size: 2rem;
      }

      .list-header {
        padding: 1rem;
      }

      .list-body {
        width: 100%;

        li {
          font-size: 1.4rem;
          border: 1px solid white;
          padding: 1rem;
          border-bottom: 1px solid grey;
        }
      }
    }
  }
}

@media only screen and(max-width: 700px) {
  .projects {
    flex-direction: column;
    margin-top: 11rem;
  }
}
